.resNS {
    width: 95%;
    height: auto;
    padding: 5px;
    margin: auto;
    border: 7px solid #1A45AD;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo {
    width: 15%;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}

.logoIMG {
    width: 30px;
    height: 30px;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}

.information {
    width: 30px;
    height: 30px;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    margin: 3px;
}


.formEnvio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    padding-right: 5px;
}

.costo {
    width:30%;
    height: auto;
    margin: auto;
    font-size: 17px;
    font-weight: bold;
    font-family: "Amazon Ember", Arial,sans-serif;
    text-align: center;
}

.masInfo {
    width: 95%;
    height: auto;
    padding: 5px;
    margin: 2px auto;
    border: 7px solid #4162ad;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    /* display: flex; */
    flex-flow: column nowrap;
    align-items: center;
}

.tituloMasInfo{
    text-align: center;
    font-family: "Amazon Ember", Arial,sans-serif;
}

.pFinal{
    text-align: center;
    font-size: 8.5px;
    font-family: "Amazon Ember", Arial,sans-serif;
}

table {
    table-layout: fixed;
    width: 200px;
    margin: 15px;
}
  
th,
td {
width: 50px;
overflow: hidden;
}

.colCentro {
    text-align: center;
}

.tf3 {
    font-size: 17px;    
    font-family: "Amazon Ember", Arial,sans-serif;    
    font-weight: bold;
}

.shoppingCartResGral {
    width: 607px;
    max-height: 550px;
    height: auto;
    padding: 5px;
    margin: 3px;
    border: 7px solid #1A45AD;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: fixed;
    display: none;
    right: 100px;
    top: 10px;
    /* display: flex; */
    flex-flow: row nowrap;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1000;
}

.masIcon {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 112px;
    top: 22px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.6;
    z-index: 1000;
}

.trashcan {
    width: 20px;
    height: 20px;
    margin: auto;
}

.separacion {
    height: 20px;
}